.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-weight: 500;
  border-radius: 6px;
  padding: 15px 50px;
  cursor: pointer;
  transition: all 0.2s ease;
  border: none;
  position: relative;
  white-space: nowrap;
  user-select: none;
  color: var(--card-foreground);
  font-size: 15px;
}

.btn:hover {
  color: white;
  background-color: var(--card-foreground)
}