:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;

  color-scheme: light dark;
  background-color: #e5e6e1;
  color: var(--card-foreground);

  --card-foreground: #44624a;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "shantell-sans";
  src: url("/fonts/ShantellSans-Bold.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

label {
  color: var(--card-foreground);
}

body {
  margin: 0;
}

h1 {
  font-size: 30px;
  font-weight: 400;
}
h2 {
  font-size: 20px;
  text-transform: uppercase;
}
